@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&family=Raleway:wght@400&display=swap');

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

/* Border Box */

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

/* Base Font Size (1rem = 10px) */

html {font-size: 62.5%}

/* Stabilizing Base Styles */

body, ul, h1, h2, h3, p { margin: 0; padding: 0; } ul { list-style: none; } a { color: inherit; text-decoration: none; } img { width: 100%; height: auto; display: block; } time { font-weight: bold; }

/* Convenient Classes */

.wrapper { max-width: 1200px; width: 85%; margin: 0 auto;}

.sr-only /*:not(:focus):not(:active)*/ { position: absolute !important; height: 1px; width: 1px; overflow: hidden; clip: rect(1px 1px 1px 1px); /* IE6, IE7 */ clip: rect(1px, 1px, 1px, 1px); white-space: nowrap; /* added line */ }

.flexBox {display: flex;}

.button {transition: all 0.5s ease-out;}

.flexContainer { display: flex; margin: 0 auto; width: 100%;}

html {
  background-color: rgb(14, 14, 15);
}

body, button {
  color: #07bfbf;
  font-size: 1.9rem;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-family: 'Fira Sans', sans-serif;
  letter-spacing: 1.5px;
}

a { 
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 6px 0;
}

a:hover {
  color: rgba(219, 96, 230, 0.62);
}

button {
  margin-bottom: 20px;
}

header.sr-only {
  justify-content: center;
  padding: 10px 0;
}

h1 {
  text-align: center;
}

button {
  border: none;
  background-color: transparent;
  color: #07bfbf;
  font-size: 2.3rem;
  font-weight: 700;
}

section {
  width: 100vw;
}

img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  /* hidden checkbox */
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

img:hover {
  opacity: 50%;
}

img:active {
  border: 4px solid #07bfbf;
}

footer {
  display: none;
  font-weight: 400;
  justify-content: space-between;
  padding: 20px 0px 10px;
}

footer a {
  display: flex;
}

.loader {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  width: 85%;
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

.loader:empty {
  position: relative;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  margin: 180px 0;
  border: 1.1em solid rgba(0, 219, 255, 0.27);
  border-left: 1.1em solid #736772;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg) translate(5px, 5%);
  }
  100% {
    transform: rotate(360deg) translate(5px, 5%);
  }
}

.corkboard {
  position: relative;
}

.headingPBox {
  align-items: center;
  justify-content: center;
}

 .loader + .headingPBox .headingOne {
  font-size: 4rem;
  letter-spacing: 1.8px;
}

.loader:empty + .headingPBox .headingOne {
  font-size: 7rem;
  letter-spacing: 3px;
}

.loader + .headingPBox {
  position: absolute;
  left: 50%;
  bottom: 1%;
  margin-top: 8px;
}

.loader:empty + .headingPBox {
  position: static;
  margin-top: 0px;
}

.imageContainer {
  height: 20vh;
  width: 25vw;
}

.bottomRow {
  display: none;
  justify-content: space-between;
  padding: 20px 0px 0px;
  height: 10vh;
}

.bottomRow.loaded, .loaded {
  display: flex;
}

.fa-github {
  margin-left: 20px
}




@media (prefers-reduced-motion) {
  .loader:empty {
    animation: load8 10s infinite linear;
  }

  @keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
  
  
}

/* Portrait tablet and small desktops */
@media (max-width: 1200px) {
    header.sr-only {
      position: static !important; 
      height: initial; 
      width: initial; 
      overflow: initial; 
      clip: initial;
      white-space: initial;
    }
    .headingPBox {
      display: none;
    }

    .bottomRow {
      justify-content: space-evenly;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 960px) {
  .bottomRow {
    flex-direction: column;
    height: 100%;
  }

  button {
    width: 44%;
    margin-top: 10px;
  }
 footer {
   flex-direction: column;
 }  

 footer .flexBox {
   margin-top: 20px;
 }

 footer a {
   width: fit-content;;
 }
}

/* Medium phones and down */
@media (max-width: 675px) {

   
}

/* Smallest phones */
@media (max-width: 370px) {
    

}

@media print {
  .headingPBox, .bottomRow, footer {
    display: none !important;
  }
}